# app
/data/
*.db

# go
/bin/
server/klisi

# web
node_modules/
web/build/
web/.svelte-kit/
server/web/build/

# env
.env
.env.*
!.env.example

# misc
.DS_Store

# tests
web/test-results/
web/playwright-report/
